; Enable xdebug extension module
zend_extension=xdebug.so

xdebug.remote_enable=1
xdebug.remote_handler=dbgp
xdebug.remote_host=10.0.2.2
xdebug.remote_port={{ xdebug_port }}
xdebug.remote_autostart=1
